.cabecalho {
    text-align: center;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    background-color: black;
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
}

.espacoLogin {
    text-align: center;
    padding-top: 7.5%;
    background-color: black;
    background-attachment: fixed;
}
