body {
   background-color: black;
   background-image: url('../imagens/bg.jpg');
   background-attachment: fixed;
}

.carregando {
   margin-top: 50vh;
   margin-left: 25%;
   max-width: 50%;
}

.formulario {
   display: block;
}

.imagem-topo {
   width: 200px;

}