.toast-vermelho {
   background-color: #ff4848 !important;
   color: #fff !important;
}

.toast-amarelo {
   background-color: #bfa600 !important;
   color: #000 !important;
}

.toast-verde {
   background-color: #609832 !important;
   color: #fff !important;
}

header,
main,
footer,
body {
  	padding-left: 300px;
}

.carregando {
	padding-top: 35vh;
	padding-right: 300px;
}

.cab {
	-webkit-box-shadow: 0px 4px 19px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 19px -6px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 19px -6px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 992px) {
	header,
	main,
	footer,
	body {
		padding-left: 0;
	}
	.carregando {
		padding-right: 0;
	}
}

.titulo{
	text-decoration:none;
	color: #fff;
}

.titulo:hover{
	text-decoration:none;
	color: #C7C7C7;
}

.centralizar{
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}