header,
main,
footer,
body {
  	padding-left: 300px;
}

.carregando {
	padding-top: 35vh;
}

.cab {
	-webkit-box-shadow: 0px 4px 19px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 19px -6px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 19px -6px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 992px) {
	header,
	main,
	footer,
	body {
		padding-left: 0;
	}
	.carregando {
		padding-right: 0;
	}
}

.titulo{
	text-decoration:none;
	color: #fff;
}

.titulo:hover{
	text-decoration:none;
	color: #C7C7C7;
}

.centralizar{
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}

.centro-div{
	margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%) 
}

.vertical-centro{
	position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    text-align: center;
    -webkit-transform: translateY( -50% );
    -moz-transform: translateY( -50% );
    transform: translateY( -50% );
}

.thin{
	font-weight: 100;
}

.menu-item{
	color: #404040 !important;
}

.barra{
	background-color: #c1c1c1;
	padding-bottom: 5px;
}

/* TOAST */
.toast-vermelho{
	background-color: #ff4949 !important;
	color: #fff;
}

.toast-verde{
	background-color: #72d626 !important;
	color: #fff;
}